.btn {
  margin-top: 10px;
  height: 75px;
  width: 200px;
  font-size: 25pt; }

.modal-dialog {
  width: 900px; }

.panel {
  border: 1px solid #302e2f;
  border-radius: 0px;
  padding-top: 5px; }
  .panel .panel-heading {
    background-color: white; }
    .panel .panel-heading .panel-title {
      font-family: 'Quicksand', sans-serif;
      font-size: 18pt; }
